<ol class="breadcrumb">
  <% nav.each do |n| %>
      <% unless n.equal? nav.last %>
          <li><%= link_to n[:name], n[:url] %></li>
      <% else %>
          <li><%= n[:name] %></li>
      <% end %>
  <% end %>
</ol>