/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require twitter-bootstrap-static/fontawesome

 */

/* NAVBAR & POST INDEX */

a.navbar-brand{
    font-size: 25px;
    color: #B7B2B2;
}
.navbar-inverse .navbar-brand {
    color: #B7B2B2;
}
.navbar-collapse {
    font-size: 13px;
    color: #B7B2B2
}

ul.navbar-nav{
    float: right;
    color: #B7B2B2;
}

div.container{
    padding-left: 30px;
    padding-right: 30px;
}

div.page-header, h1{
    text-align: left;
    margin-left: 0px;
    margin-top: 0px;
    padding: 8px;
    margin-left: 40px;
}

div.col-lg-12{
    padding-left: 75px;
    padding-right: 75px;
}

.table, thead, tr, th {
    padding: 8px;
    line-height: 2;
    text-align: center;
}

.table-responsive {
    padding: 8px;
    margin-left: 40px;
}


/*.table.table-striped {
    padding: 8px;
    margin-left: 40px;
    margin-right: 40px;
}*/

/* btn */
.btn-primary {
    color: #fff;
    background-color: #f6f8f9;
    border-color: #000000;
}

.btn-primary:hover {
    background-color: #f6f8f9;
}

a.btn.btn-default.btn.new {
    margin: 40px;
}

a.btn.btn-primary:hover {
    background-color: #f6f8f9;
}

.btn {
    border: 2px solid;
    border-radius: 0px;
    text-color: #000;
}

/* POST SHOW */

/*.breadcrumb{
    margin-left: 40px;
} */

/*POST*/
div.post.body{
    padding: 8px;
    text-align: left;
    font-style:normal;
    margin-left: 40px;
    margin-bottom: 20px;
}

p.post.body-tag{
    display: inline-block;
}

p.post.body-user{
    display: inline-block;
}

div.form {
    padding: 8px;
    margin-left: -100px;
}
/*USER*/

div.page-body-user{
    padding: 8px;
    text-align: left;
    font-style:normal;
    margin-left: 40px;
    margin-bottom: 20px;
}

p.body-user.name {
    display: inline-block;
}

p.body-user.email {
    display: inline-block;
}

p.body-user.created {
    display: inline-block;
}

div.page-body-user{
    padding: 8px;
    text-align: left;
    font-style:normal;
    margin-left: 40px;
    margin-bottom: 20px;
}

/* TAGS */

div.form-group-tag {
    padding: 8px;
    text-align: left;
    font-style:normal;
    margin-left: 40px;
    margin-bottom: 20px;
}

div.wiki_menu, h1, table {
    padding: 8px;
    text-align: left;
    font-style:normal;
    margin-left: 40px;
    margin-bottom: 20px;
    font-size: 30px;
}

table.link_list, tr, th, td {
    padding: 5px;
    text-align: left;
    font-style:normal;
    margin-left: 40px;
    /*margin-bottom: 20px;*/
    font-size: 16px;
}

/*IMAGES*/

.glyphicons.glyphicons-bin {
    content: url("glyphicons-17-bin.png");
}

.glyphicons.glyphicons-bin:before {
    content: url("glyphicons-17-bin.png");
}

.glyphicons.glyphicons-paperclip {
    content: url("glyphicons-63-paperclip.png");
}

.glyphicons.glyphicons-paperclip:before {
    content: url("glyphicons-63-paperclip.png");
}

.small-icon {
    width: 15px;
}