<h1>Bienvenido a wiki-rails</h1>
<li><%= link_to 'Ir al menú de post', posts_path, :class => '' %></li>
<li><%= link_to 'Ir al menú de user', users_path, :class => '' %></li>
<li><%= link_to 'Ir al menú de tags', tags_path %></li>