<div class="wiki_menu">
<h1>Bienvenido a wiki-rails</h1>
  <table class="link_list">
    <tr>
      <th></th>
      <td><%= link_to 'Ir al menú de post', posts_path, :class => '' %></td>
    </tr>
    <br>
    <tr>
      <th></th>
      <td><%= link_to 'Ir al menú de user', users_path, :class => '' %></td>
    </tr>
    <br>
    <tr>
      <th></th>
      <td><%= link_to 'Ir al menú de tags', tags_path,  :class => '' %></td>
    </tr>
  </table>
</div>